/* READTHEDOCS STYLE */


h1, h2, h3, h4 {
    color:#EF572E;
}

code {
    color: #2980b9;
    font-size: 95%;
}

.wy-side-nav-search {
    background-color: #EF572E;
    padding:0.95em;
}

.wy-nav-top {
    background: #EF572E;
}

.wy-side-nav-search a.icon:before {
    display:none;
}

.wy-side-nav-search input[type=text] {
    border-color: #333;
}

.wy-side-nav-search div[role=search] {
    display:none;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
    padding:0.4045em 2.427em;
}

.wy-menu-vertical li.current ul {
    padding-left:1em;
}

.rst-versions, .rst-versions.shift {
    display:none;
}

/* CUSTOM STYLE */

span.title {
    color:#EF572E;
    font-size:175%;
    font-weight: 700;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

span.title span {
    color: #343434;
}

