---
id: home
title: Home
layout: default
---

<h1>{{ site.small_logo }} Peak <small><a href="{{ site.latest_release_url }}">{{ site.latest_release }}</a></small></h1>

<h5>Fast, unopinionated and minimalist web framework based on PHP.</h5>

<a href="{{ site.url }}peak-app-project">
    <h6>
        <i class="fas fa-shipping-fast text-dark"></i> Quick Start with Peak Application Project
    </h6>
</a>
<div class="highlight">
<pre class="highlight">
<code>$ composer create-project peak/peak -s dev</code>
</pre>
</div>
<br>
<div class="row">
    <div class="col-md">
        {% capture title %}
        <span class="fa-stack card-logo">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-exchange-alt fa-stack-1x fa-inverse"></i>
        </span> <a href="https://www.php-fig.org/psr/psr-7/">PSR-7</a> and <a href="https://www.php-fig.org/psr/psr-15/">PSR-15</a>
        {% endcapture %}
        {% capture text %}
        Built around <strong>HTTP Request</strong> and <strong>Middlewares</strong>, Peak is fully compatible with <a href="https://www.php-fig.org/psr/psr-7/">PSR-7</a> and
        <a href="https://www.php-fig.org/psr/psr-15/">PSR-15</a>
        {% endcapture %}
        {% include card.html title=title text=text %}
    </div>
    <div class="col-md">
        {% capture title %}
        <span class="fa-stack card-logo ">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-truck-loading fa-stack-1x fa-inverse"></i>
        </span>
        <a href="https://www.php-fig.org/psr/psr-11/">PSR-11</a>
        {% endcapture %}
        {% capture text %}
        <strong>Dependency Injection</strong> out the box or you can use any <a href="https://www.php-fig.org/psr/psr-11/">PSR-11</a> dependency injection container of your choice
        {% endcapture %}
        {% include card.html title=title text=text %}
    </div>
    <div class="col-md">
        {% capture title %}
        <span class="fa-stack card-logo ">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-hiking fa-stack-1x fa-inverse"></i>
        </span> Design by contracts
        {% endcapture %}
        {% capture text %}
        Peak is very flexible, efficient, adhere to the <strong>Liskov substitution principle</strong> with <a href="#">Blueprint</a> so you can use your favorites packages, create or reuse one.
        {% endcapture %}
        {% include card.html title=title text=text %}
    </div>
</div>

<br><br>

<ul class="nav flex-column">
    <li>
        <a href="{{ site.url }}quickstart"><i class="fas fa-shipping-fast"></i>
            Quick Start from scratch
        </a>
    </li>
    <li>
        <a href="{{ site.url }}core-concepts/app-flow"><i class="fas fa-directions"></i>
            Core Concepts
        </a>
    </li>
    <li>
        <a href="{{ site.url }}packages"><i class="fas fa-box-open"></i>
            Packages list
        </a>
    </li>
    <li>
        <a href="{{ site.url }}contribute"><i class="fas fa-hands-helping"></i>
            Contribution guide
        </a>
    </li>
</ul>
