---
id: home
title: Home
layout: default
---

<h1>{{ site.small_logo }} Peak <small><a href="{{ site.latest_release_url }}">{{ site.latest_release }}</a></small></h1>

<h5>Fast, unopinionated and minimalist web framework based on PHP.</h5>
<!--
<br>
Built around HTTP Request and Middlewares, Peak is fully compatible with [PSR-7](https://www.php-fig.org/psr/psr-7/),
[PSR-11](https://www.php-fig.org/psr/psr-11/) and
[PSR-15](https://www.php-fig.org/psr/psr-15/). It is also very flexible, efficient, adhere to the Liskov substitution principle so you can use your favorites packagist libraries.
<hr>
-->
<br><br>
<div class="row">
    <div class="col-md">
        {% capture title %}
        <span class="fa-stack card-logo" style="vertical-align: top;">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-exchange-alt fa-stack-1x fa-inverse"></i>
        </span> <a href="https://www.php-fig.org/psr/psr-7/">PSR-7</a> and <a href="https://www.php-fig.org/psr/psr-15/">PSR-15</a>
        {% endcapture %}
        {% capture text %}
        Built around HTTP Request and Middlewares, Peak is fully compatible with <a href="https://www.php-fig.org/psr/psr-7/">PSR-7</a>,
        <a href="https://www.php-fig.org/psr/psr-15/">PSR-15</a>
        {% endcapture %}
        {% include card.html title=title text=text %}
    </div>
    <div class="col-md">
        {% capture title %}
        <span class="fa-stack card-logo " style="vertical-align: top;">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-truck-loading fa-stack-1x fa-inverse"></i>
        </span>
        <a href="https://www.php-fig.org/psr/psr-11/">PSR-11</a>
        {% endcapture %}
        {% capture text %}
        Dependency Injection out the box or you can use any <a href="https://www.php-fig.org/psr/psr-11/">PSR-11</a> dependency injection container of your choice
        {% endcapture %}
        {% include card.html title=title text=text %}
    </div>
    <div class="col-md">
        {% capture title %}
        <span class="fa-stack card-logo " style="vertical-align: top;">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-hiking fa-stack-1x fa-inverse"></i>
        </span> Blueprint
        {% endcapture %}
        {% capture text %}
        Peak is very flexible, efficient, adhere to the Liskov substitution principle so you can use your favorites packages, create or reuse one.
        {% endcapture %}
        {% include card.html title=title text=text %}
    </div>
</div>

<br><br>

<ul class="nav flex-column">
    <li>
        <a href="{{ site.url }}quickstart"><i class="fas fa-shipping-fast"></i>
            Quick Start from scratch
        </a>
    </li>
    <li>
        <a href="{{ site.url }}peak-app-project"><i class="fas fa-fighter-jet"></i>
            Quick Start with Peak Application Project
        </a>
    </li>
    <li>
        <a href="{{ site.url }}core-concepts/app-flow"><i class="fas fa-directions"></i>
            Core Concepts
        </a>
    </li>
    <li>
        <a href="{{ site.url }}packages"><i class="fas fa-box-open"></i>
            Packages list
        </a>
    </li>
    <li>
        <a href="{{ site.url }}contribute"><i class="fas fa-hands-helping"></i>
            Contribution guide
        </a>
    </li>
</ul>
