<footer class="site-footer">
    <div class="container">
        Found a typo? Please let us know or submit a pull request at <a href="https://github.com/peakphp/docs">https://github.com/peakphp/docs</a>
        <br>
        {% if site.github.is_project_page %}
        <span class="site-footer-owner">
            <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
        </span>
        {% endif %}
        <br>
        <small>build: {{ site.github.build_revision}} {{ site.test }}</small>
    </div>
</footer>