<nav class="navbar navbar-expand-lg navbar-light fixed-top topbar">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="bg-white">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ site.url }}">
                        <img src="https://raw.githubusercontent.com/peakphp/art/master/logo-clean-50x50.png" alt="Peak" class="logo"> <span class="logo-title">Peak</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse bg-white justify-content-end" id="mainNav">
            <ul class="navbar-nav">
                <li class='nav-item {% if page.id == "home" %}active{% endif %}'>
                    <a class="nav-link" href="{{ site.url }}">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                {% if page.id == "quickstart" %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
                    <a class="nav-link" href="{{ site.url }}quickstart">
                        <i class="fas fa-shipping-fast"></i> Quick start
                    </a>
                </li>
                {% if page.id == "packages" %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
                    <a class="nav-link" href="{{ site.url }}packages">
                        <i class="fas fa-box-open"></i> Packages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/peakphp/framework">
                        <i class="fab fa-github"></i> Github
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>