$small-header-height: 50px;

.page-header-small {
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  padding: 0 20px;
  height: $small-header-height;
  line-height: $small-header-height;
  a {

  }
}

.header-menu {
  float:right;
}

.main-content-with-sidebar {

  table th, .main-content table td {
    text-align: left;
  }

  aside {
    max-width: 16rem;
    float:left;
  }

  .content-wrapper {
    @include large {
      max-width: 48rem;
      margin-left: 16rem;
    }
  }
}