$small-header-height: 50px;

.page-header-small {
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  padding: 0 20px;
  height: $small-header-height;
  line-height: $small-header-height;
  a {

  }
}

.header-menu {
  float:right;
}

.main-content table th, .main-content table td {
  text-align: left;
}