@import "variables";
@import "rouge-base16-dark";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "bootstrap/scss/bootstrap";

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

table {
  @extend .table;
}

ul {
  @extend .nav;
  @extend .flex-column;
  li {
    @extend .nav-item;
    a {
      @extend .nav-link;
    }
  }
}

pre.highlight {
  padding: 10px;
}