@import "rouge-base16-dark";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "bootstrap/scss/bootstrap";
@import "variables.scss";

$xs: map-get($grid-breakpoints, xs);
$sm: map-get($grid-breakpoints, sm);
$md: map-get($grid-breakpoints, md);
$lg: map-get($grid-breakpoints, lg);
$xl: map-get($grid-breakpoints, xl);

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fafafa;
}

pre.highlight {
  padding: 10px;
}

table {
  @extend .table;
}

main {
  margin-top: 50px;
}

/**
 CLASSES
 */

.navbar-expand-lg .navbar-nav .nav-link:first-child {
  padding-left:0;
}

.topbar {
  //background-color: #300A24 !important;
  background-color: #fff !important;
  //border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 100px #ccc;
  height: 50px;

  .logo {
    position: absolute;
    top: 0;
  }

  .logo-title {
    padding-left:60px;
  }
}


$sidebarWidth: 270px;
.wrapper {
  display: flex;
  align-items: stretch;
  .sidebar {
    padding-right:20px;
    min-width: $sidebarWidth;
    max-width: $sidebarWidth;
    min-height: 100vh;
  }
  .content {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .sidebar + .content {
    max-width: 1140px - ($sidebarWidth + ($grid-gutter-width * 2));
  }

  @media (max-width: $sm) {
    .sidebar {
      display:none;
    }
    .sidebar + .content {
      max-width: 100%;
    }
  }
}

