@import "rouge-base16-dark";
//@import "rouge-github";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "bootstrap/scss/bootstrap";
@import "variables.scss";

$xs: map-get($grid-breakpoints, xs);
$sm: map-get($grid-breakpoints, sm);
$md: map-get($grid-breakpoints, md);
$lg: map-get($grid-breakpoints, lg);
$xl: map-get($grid-breakpoints, xl);

$mainColor: #ff3000;

$sidebarWidth: 270px;

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fafafa;
  padding-top: 70px;
}

a, a:hover, a:active {
  color: $mainColor;
}

code {
  color: $mainColor;

  &.highlighter-rouge {
    background-color: #eee !important;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 2px 3px;
  }
}

footer {
  border-top:1px solid #ddd;
  padding-top:25px;
  margin-top: 100px;
}



h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  &:first-of-type {
    margin-top: 0px;
  }
}

h3, h3:first-of-type {
  margin-top: 50px;
}

h1 small {
  font-size:12px;
}

h5.card-title {
  margin-top: 10px;
}

main {
  margin-top: 50px;
}

pre {
  margin-bottom: 20px;
}

pre.highlight {
  padding: 10px;
}

table {
  @extend .table;
}

/**
 CLASSES
 */

.bedrock-line {
  //position:absolute;
  //background: #ccc;
  //top:50px;
  //left:0px;
  //width:100%;
  //display:block;
  //height: 1px;
}

.bg-grey {
  background-color: #fafafa;
}

.bg-black {
  background-color: #000;
}

.card-title {
  .card-logo {
    font-size: 1.2em;
    //position: absolute;
    //top: -20px;
    //left: -25px;
  }
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.fixed-top {
  position: absolute;
}

.h1-logo img {
  vertical-align: text-bottom !important;
}

.highlight {
  border-radius: 5px;
  box-shadow: 6px 6px 0px #ccc, 12px 12px 0 #ddd, 18px 18px 0 #eee;
  font-size: 0.8rem;
}
.highlighter-rouge {
  margin-bottom:35px;
}

.navbar {
  padding:0 1rem;
}

.navbar-collapse {
  //margin-top: 5px;
  margin-left: -1px rem;
  margin-right: -1px rem;
}

.navbar-expand-lg .navbar-nav .nav-link:first-child {
  //padding-left:0;
}

.nav-link {
  padding: .6rem 1rem;
}

.nav {
  li {
    padding:5px 0px;
  }
  .nav {
    margin-left: 8px;
  }
}

.topbar {
  //background-color: #300A24 !important;
  background-color: #050708 !important;
  //border-bottom: 1px solid #ccc;
  //box-shadow: 0 5px 50px $mainColor, 0 5px 100px #ccc;
  height: 50px;

  .logo-title {
    padding-left:60px !important;
    font-size: 125%;
    position: relative;
    color: #fff !important;

    .logo {
      position: absolute;
      top: -4px;
      left: 0;
      opacity: 1;
      transition: all ease-out 0.2s;
    }
    &:hover .logo, &.active .logo {
      opacity: 1;
      transition: all ease-in 0.2s;
    }

    .logo-text {
      padding-top:20px;
    }

  }

  .justify-content-end .navbar-nav .nav-link {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }

  .nav-item.active {
    i {
      display: none;
      //color: $mainColor;
      //text-shadow:0 0 2px #ccc;
    }
  }

  .nav-item {
    border-right: 1px solid #333;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size:0.8rem;
  }

  .navbar-logo.nav-item {
    border-right:0;
  }

  .nav-item i {
    display:none;
  }

  .nav-link, .nav-item {
    color:#ccc;
  }

  @media (min-width: $sm + 1) and (max-width: $md) {
    padding-top:0;
    padding-bottom:0;
  }
}

.page-home {
  .highlighter-rouge {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:650px;
  }
}

.site-footer {
  font-size: 0.7rem;
}

.wrapper {
  display: flex;
  align-items: stretch;
  .content {
    width: 100%;
    img {
      max-width: 100%;
    }
    .edit {
      margin-top: -27px;
      float: right !important;
    }
    ul li i {
      width: 25px;
      color: #444;
    }
  }
  .sidebar {
    padding-right:20px;
    min-width: $sidebarWidth;
    max-width: $sidebarWidth;
    min-height: 100vh;
    a.active {
      font-weight: bold;
    }
    h2, h3, h4, h5 {
      margin-top:0;
    }
  }
  .sidebar + .content {
    max-width: 1140px - ($sidebarWidth + ($grid-gutter-width * 2));
  }

  @media (max-width: $md) {
    .sidebar {
      display:none;
    }
    .sidebar + .content {
      max-width: 100%;
    }
  }
}


