@import "rouge-base16-dark";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "bootstrap/scss/bootstrap";
@import "variables.scss";

$xs: map-get($grid-breakpoints, xs);
$sm: map-get($grid-breakpoints, sm);
$md: map-get($grid-breakpoints, md);
$lg: map-get($grid-breakpoints, lg);
$xl: map-get($grid-breakpoints, xl);

$mainColor: #ff3000;

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fafafa;
  padding-top: 70px;
}

a {
  color: $mainColor;
}

footer {
  border-top:1px solid #ddd;
  padding-top:25px;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 30px;
  margin-bottom: 15px;
}

h1 small {
  font-size:12px;
}

main {
  margin-top: 50px;
}

pre.highlight {
  padding: 10px;
}

table {
  @extend .table;
}

/**
 CLASSES
 */

.fixed-top {
  position: absolute;
}

.navbar {
  padding:0 1rem;
}

.navbar-collapse {
  margin-top: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link:first-child {
  padding-left:0;
}

.nav {
  li {
    padding:5px 0px;
  }
  .nav {
    margin-left: 8px;
  }
}

.topbar {
  //background-color: #300A24 !important;
  background-color: #fff !important;
  //border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 100px #ccc;
  height: 50px;

  .logo {
    position: absolute;
    top: 0;
  }

  .logo-title {
    padding-left:60px;
    font-size: 125%;
  }

  .justify-content-end .navbar-nav .nav-link {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }

  .nav-item.active {
    i {
      color: $mainColor;
      text-shadow:0 0 2px #ccc;
    }
  }

  @media (min-width: $sm + 1) and (max-width: $md) {
    padding-top:0;
    padding-bottom:0;
  }
}

$sidebarWidth: 270px;
.wrapper {
  display: flex;
  align-items: stretch;
  .content {
    width: 100%;
    img {
      width: 100%;
    }
    .edit {
      margin-top: -27px;
      float: right !important;
    }
  }
  .sidebar {
    padding-right:20px;
    min-width: $sidebarWidth;
    max-width: $sidebarWidth;
    min-height: 100vh;
    a.active {
      font-weight: bold;
    }
    h2, h3, h4, h5 {
      margin-top:0;
    }
  }
  .sidebar + .content {
    max-width: 1140px - ($sidebarWidth + ($grid-gutter-width * 2));
  }

  @media (max-width: $md) {
    .sidebar {
      display:none;
    }
    .sidebar + .content {
      max-width: 100%;
    }
  }
}


