<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include topbar.html %}

<main class="wrapper container">
{% if page.sb %}
  <nav class="sidebar">{% include sidebar/{{ page.sb }}.html %}</nav>
{% endif %}
  <div class="content">
    <div class="container">
      <div class="edit">
        <a href="{{ site.edit_url }}/{{ page.path }}"><i class="far fa-edit"></i> Edit on github</a>
      </div>
    </div>
    {{ content }}
    {% include footer.html %}
  </div>
</main>
{% include scripts.html %}
</body>
</html>