<ul>
    <li><a class='{% if page.name == "index.md" %}active{% endif %}' href="{{ site.url }}collection">Overview</a></li>
    <li><a class='{% if page.name == "properties-bag.md" %}active{% endif %}' href="{{ site.url }}collection/properties-bag">Properties Bag</a></li>
    <li><a class='{% if page.name == "collection.md" %}active{% endif %}' href="{{ site.url }}collection/collection">Collection</a></li>
    <li><a class='{% if page.name == "dotnotation-collection.md" %}active{% endif %}' href="{{ site.url }}collection/dotnotation-collection">DotNotation Collection</a></li>
    <li><a class='{% if page.name == "typed-structure.md" %}active{% endif %}' href="{{ site.url }}collection/typed-structure">Typed Structure</a></li>
</ul>