<ul>
    <li><a class="" href="/docs/di/introduction">Introduction</a>
        <ul>
            <li><a href="basic-usage#using-autowiring">Using Autowiring</a></li>
            <li><a href="basic-usage#reuse-a-class-instance">Reuse a class instance</a></li>
            <li><a href="basic-usage#get-a-stored-class-instance">Get a stored class instance</a></li>
            <li><a href="basic-usage#verify-a-stored-class-instance">Verify a stored class instance</a></li>
            <li><a href="basic-usage#use-alias-for-stored-class-instance">Use alias for stored class instance</a></li>
            <li><a href="basic-usage#call-an-class-instance-method">Call an class instance method</a></li>
        </ul>
    </li>
    <li><a class="" href="/docs/di/basic-usage">Basic usage</a></li>
    <li><a class="" href="/docs/di/create">Create instances</a></li>
    <li><a class="" href="/docs/di/definitions">Definitions</a></li>
</ul>
