<h4>Get started</h4>
<ul>
    <li>
        <a href="{{ site.url2 }}/docs/v4/get-started/installation" class='{% if page.id == "installation" %}active{% endif %}'>
            Installation
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/docs/v4/get-started/web-servers" class='{% if page.id == "web-servers" %}active{% endif %}'>
            Web servers
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/docs/v4/get-started/peak-app-skeleton" class='{% if page.id == "peak-app-skeleton" %}active{% endif %}'>
            Application skeleton
        </a>
    </li>
</ul>

<h4>Core concepts</h4>
<ul>
    <li>
        <a href="{{ site.url }}/docs/v4/core-concepts/app-life-cycle" class='{% if page.id == "app-life-cycle" %}active{% endif %}'>
            Application life cycle
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/docs/v4/core-concepts/middlewares-and-handlers" class='{% if page.id == "middlewares-handlers" %}active{% endif %}'>
            Middlewares and Handlers
        </a>
    </li>
</ul>

<h4>Application</h4>
<ul>
    <li><a class='{% if page.id == "application-overview" %}active{% endif %}' href="{{ site.url }}/docs/v4/application">
        Overview
    </a></li>

    <li><a class='{% if page.id == "application-stack" %}active{% endif %}' href="{{ site.url }}/docs/v4/application/stack">
        Stack
    </a></li>
</ul>

<h4>Routing</h4>
<ul>
    <li><a class='{% if page.id == "routing-overview" %}active{% endif %}' href="{{ site.url }}/docs/v4/routing">
        Overview
    </a></li>

    <li><a class='{% if page.id == "routing-groups" %}active{% endif %}' href="{{ site.url }}/docs/v4/routing/groups">
        Groups
    </a></li>
</ul>

<h4>Dependency Injection</h4>
<ul>
    <li><a class='{% if page.id == "di-overview" %}active{% endif %}' href="{{ site.url }}/docs/v4/di/overview">
        Overview
    </a></li>
    <li><a class='{% if page.id == "di-autowiring" %}active{% endif %}' href="{{ site.url }}/docs/v4/di/autowiring">
        Autowiring
    </a></li>
    <li><a class='{% if page.id == "di-basic-usage" %}active{% endif %}' href="{{ site.url }}/docs/v4/di/basic-usage">
        Basic Usage
    </a></li>
    <li><a class='{% if page.id == "di-definitions" %}active{% endif %}' href="{{ site.url }}/docs/v4/di/definitions">
        Definitions
    </a></li>
</ul>

<h4>Collection</h4>
<ul>
    <li><a class='{% if page.id == "collection-installation" %}active{% endif %}' href="{{ site.url }}/docs/v4/collection">
        Installation
    </a></li>
    <li><a class='{% if page.name == "properties-bag.md" %}active{% endif %}' href="{{ site.url }}/docs/v4/collection/properties-bag">
        Properties Bag
    </a></li>
    <li><a class='{% if page.name == "collection.md" %}active{% endif %}' href="{{ site.url }}/docs/v4/collection/collection">
        Collection
    </a></li>
    <li><a class='{% if page.name == "dotnotation-collection.md" %}active{% endif %}' href="{{ site.url }}/docs/v4/collection/dotnotation-collection">
        DotNotation Collection
    </a></li>
    <li><a class='{% if page.name == "typed-structure.md" %}active{% endif %}' href="{{ site.url }}/docs/v4/collection/typed-structure">
        Typed Structure
    </a></li>
</ul>