<h4>Get started</h4>
<ul>
    <li>
        <a href="{{ site.url2 }}/docs/v4/get-started/installation" class='{% if page.id == "installation" %}active{% endif %}'>
            Installation
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/docs/v4/get-started/web-servers" class='{% if page.id == "web-servers" %}active{% endif %}'>
            Web servers
        </a>
    </li>
</ul>

<h4>Core concepts</h4>
<ul>
    <li>
        <a href="{{ site.url }}/docs/v4/core-concepts/app-life-cycle" class='{% if page.id == "app-life-cycle" %}active{% endif %}'>
            Application life cycle
        </a>
    </li>
    <li>
        <a href="{{ site.url }}/docs/v4/core-concepts/middlewares-and-handlers" class='{% if page.id == "middlewares-handlers" %}active{% endif %}'>
            Middlewares and Handlers
        </a>
    </li>
</ul>
