<ul class="nav">
    <li><a class="" href="{{ site.url }}quickstart#install-via-composer">Installation</a></li>
    <li><a class="" href="{{ site.url }}quickstart#create-an-application">Create an application</a></li>
    <li><a class="" href="{{ site.url }}quickstart#build-your-stack">Build your stack</a></li>
    <li><a class="" href="{{ site.url }}quickstart#process-a-server-request">Process a server request</a></li>
    <li><a class="" href="{{ site.url }}quickstart#output-the-response">Output the response</a></li>
</ul>
